<div class="container mt-4">
    <h4>{{title}}</h4>
    <form [formGroup]="transactionForm" (ngSubmit)="addTransaction()" action="" class=" p-4 border border-3 shadow rounded mt-2">
        <div class="mb-3">
            <label for="">Enter transaction title</label>
            <input type="text" placeholder="enter title" class="form-control" formControlName="title">
        </div>
      <div class="mb-3 d-flex gap-4 ">
        <div class="w-100">
            <label for="">Select Transaction Type</label>
            <select name="" id="" class="form-control form-select" formControlName="type">
                <option value="expenses">Expenses</option>
                <option value="income">Income</option>
            </select>
        </div> 
        <div class="w-100">
            <label for="">Select category type</label>
            <select name="" id=""  class="form-control form-select" formControlName="category">
                <option value="{{cat}}" *ngFor="let cat of categories">{{cat}}</option>
            </select>
        </div>
      </div>
        <div class="mb-3">
            <label for="">Enter amount</label>
            <input type="text" placeholder="enter amount" class="form-control" formControlName="amount">
        </div>
        <div class="mb-3">
            <label for="">Enter User</label>
            <input type="text" placeholder="enter user" class="form-control" formControlName="user">
        </div>
        <div class="mb-3">
            <button type="submit" [hidden]="isEdit" >Add</button>
            <button type="submit" [hidden]="!isEdit">Update</button>
        </div>
    </form>
</div>
